@model AutismAppointmentApp.Models.TherapistModels.TherapistDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TherapistDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TherapistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TherapistId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TherapySpecialist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TherapySpecialist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCertified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCertified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TherapistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
