@model AutismAppointmentApp.Models.AppointmentModels.AppointmentDetail

@{
    ViewBag.Title = "Delete";
}

<h3 class="appointment-delete">Are you sure you want to cancel this appointment?</h3>
<div>
    <h4>Appointment Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailOfAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailOfAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TherapistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TherapistId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn btn-primary btn-sm" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
