@model IEnumerable<AutismAppointmentApp.Models.AppointmentModels.AppointmentListDetail>

@{
    ViewBag.Title = "Index";
}

<h2 class="appointment-index">Current Appointments</h2>

<button id="buttons">
    @Html.ActionLink("Create New", "Create")
</button>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="card text-white bg-primary mb-3 index-cards" style="max-width: 25rem;">
            <div class="card-header">Appointment ID: @Html.DisplayFor(modelItem => item.AppointmentId)</div>
            <div class="card-body">
                <h5 class="card-title">Appointment Information</h5><br />
                <p class="card-text">Date of Appointment: @Html.DisplayFor(modelItem => item.DateOfAppointment)</p>
                <p class="card-text">Detail of Appointment: @Html.DisplayFor(modelItem => item.DetailOfAppointment)</p>
                <p class="card-text">Therapist ID: @Html.DisplayFor(modelItem => item.TherapistId)</p>
                <p class="card-text">Patient ID: @Html.DisplayFor(modelItem => item.PatientId)</p>
                <p class="card-text">Date Added: @Html.DisplayFor(modelItem => item.CreatedUtc)</p>
                <p class="card-text">Date Modified: @Html.DisplayFor(modelItem => item.ModifiedUtc)</p>
                <button class="buttons">@Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId })</button>|
                <button class="buttons">@Html.ActionLink("Details", "Details", new { id = item.AppointmentId })</button>|
                <button class="buttons">@Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId })</button>
            </div>
        </div>
    }
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailOfAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TherapistId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TherapistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId })
            </td>
        </tr>
    }

</table>*@
